body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-head{
  height: 150px;
  background: #FFF;

}

.sidenav {
  height: 100%;
  background-color: #041D38;
  overflow-x: hidden;
  padding-top: 20px;
}


.main {
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
  .login-form{
      margin-top: 10%;
  }

  .register-form{
      margin-top: 10%;
  }
}

@media screen and (min-width: 768px){
  .main{
      margin-left: 40%; 
  }

  .sidenav{
      width: 40%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
  }

  .login-form{
      margin-top: 70%;
  }

  .participant-form {
    margin-top: 20%;
  }

  .register-form{
      margin-top: 20%;
  }
}


.login-main-text{
  margin-top: 20%;
  padding: 60px;
  color: #fff;
}

.login-main-text h2{
  font-weight: 300;
  color: white!important;
}

.btn-black{
  background-color: #041D38 !important;
  color: #fff;
  margin-top: 10px
}

.btn-secondary {
  margin-top: 10px;
  margin-left: 10px;
}

form > div {
  margin-bottom: 15px;
}

.event-edit-form {
  margin-top: 100px;
}

.event-edit-form input.form-control, .event-edit-form input.form-check-input, .event-edit-form .form--control {
  margin-top: 5px!important;
}

.event-edit-form .col-lg-6 {
  margin-top: 15px!important;
}

.streaming{
  height:90vh;
  width: 100%;
  position:relative;
  overflow:hidden;
}
.streaming iframe{
  position:absolute;
  top:100%;
  transform:translateY(-90%);
  left:0;
  /* pointer-events:none; */
  width:100%;
  height:120vh;
}
